/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* space-grotesk-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Space_Grotesk';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/space-grotesk-v16-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* montserrat-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat'; 
    font-weight: 600;
    src: url('../fonts/montserrat-v26-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
:root {
    font-size: 62.5% ;
    font-family: Space_Grotesk;
    --fist-color: #1A1E42;
    --second-color: #F7931A;
    --third-color: #1A1E42CC;
    --fourth-color: #F7931A1A;
    --fifth-color: #2A2D51;
    --sixth-color: #D0D5DD;
    --gray-300: #D0D5DD;
    --gray-400: #98A2B3;
    --gray-500: #667085;
    --gray-600: #475467;
    --gray-50: #F9FAFB;
    --shadow: #1018280d;
    --white: #fff;

}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
.wrap_conteiner{
max-width: 1440px;
width: 100%;
margin: auto;
padding: 16px 16px;
}
.header{
    display: flex;
    width: auto;
    padding: 1.8rem 1.6rem;
    justify-content: space-between;
    align-items: center;
    }
    .header_burgermenu{
    display: flex;
    padding: 0.8rem;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    background-color: var(--white);
    border: 0;
    }
    
    .header_logo{
    color: var(--fist-color);
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    }
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: var(--white);
      }
      
      main {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
      }
      
      .form {
        margin: 120px auto;
        max-width: 550px;
        background-color: white;
        padding: 32px;
        color: var(--fist-color);
        border-radius: 18px;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
      }
      .rote{
        transform-origin: 0;
        transform: rotate(30deg) scale(1.5) skew(30deg)
      
      }
      .form__title {
        text-align: center;
        margin-bottom: 32px;
      }
      
      .form__fieldset {
        margin: 16px 0;
        padding: 8px;
        border: none;
      }
      
      .form__label {
        display: block;
        font-size: 1.4rem;
        transition: color 0.1s ease-out;
      }
      
      .form__label + .form__label {
        margin-top: 16px;
      }
      
      .label__row {
        display: flex;
        justify-content: space-between;
        padding: 0 8px;
      }
      
      .form__label__required {
        color: var(--second-color);
      }
      
      .form__label:focus-within {
        color: var(--fifth-color  );
      }
      
      .form__input {
        display: block;
        width: 100%;
        font-family: inherit;
        font-size: 1.6rem;
        padding: 12px 8px;
        border-radius: 10px;
        border: 1px solid #999;
        color: var(--fifth-color);
      }
      .form__input_day_set{
        display: flex;
        flex-direction: column;
        width: 100%;
        font-family: inherit;
        font-size: 1.6rem;
        padding: 12px 8px;
        border-radius: 10px;
        border: 1px solid #999;
        color: var(--fifth-color);
      }
      .form__input:focus {
        outline-color: var(--fifth-color);
      }
      
      .form__input:invalid {
        border-color: var(--second-color);
      }
      
      .form__label__warning {
        translate: 10px;
        opacity: 0;
        visibility: hidden;
        transition: translate 0.1s ease-in, opacity 0.1s ease-in, visibility 0.1s ease-out;
      }
      
      .form__label:has(.form__input:invalid) .form__label__warning {
        translate: 0;
        opacity: 1;
        visibility: visible;
        transition: translate 0.1s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
      }
      
      .form__button {
        display: block;
        font: inherit;
        border: none;
        margin: 0 auto;
        cursor: pointer;
      }
      
      .form__submit-button {
        margin-top: 24px;
        background-color: var(--second-color);
        border-radius: 100vmax;
        padding: 16px 32px;
        transition: filter 0.2s ease-out;
      }
      
      .form__submit-button:hover {
        filter: brightness(1.2);
      }

      .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .radio,
    .checkbox {
        display: flex;
        flex-direction: column;
    }

    .radio__description,
    .checkbox__description {
        position: relative;
        margin-left: 30px;
    }
    
    .visually-hidden+.radio__description::before,
    .visually-hidden+.checkbox__description::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border: 2px solid var(--second-color);
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        transition: border 1s;
    }

    .visually-hidden:checked+.radio__description::after,
    .visually-hidden:checked+.checkbox__description::after {
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        background-color: var(--fist-color);
        position: absolute;
        left: -15px;
        top: 50%;
        transform: translateY(-50%);
    }

    .visually-hidden:checked+.radio__description::before,
    .visually-hidden:checked+.checkbox__description::before {
        border: 3px solid var(--fist-color);
    }
      .form__reset-button {
        text-decoration: underline;
        margin-top: 8px;
        background: none;
        color: var(--fifth-color);
      }
      
      .form__description-title {
        font-weight: bold;
      }
      
      .form__description-title::first-letter {
        color: var(--second-color);
      }
      
      .form__description-details {
        margin-inline-start: 40px;
      }
      
      .form__description-details::before {
        content: "\1F6C8";
      }
      
      .form2__fieldset {
        border: 1px solid var(--fifth-color);
      }
      
      .form__checkbox-list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        column-gap: 8px;
      }
      
      .form__checkbox-label {
        display: flex;
        gap: 4px;
      }
      
      .footer {
        background: var(--text-main);
      }
      
      .footer__subtitle,
      .footer__logo {
        margin-top: 32px;
      }
      
      .footer__logo {
        transform: rotate(30deg) scale(1.5) skew(30deg);
      }
      .footerPO{
        display: flex;
        width: auto;
        padding: 3.2rem 1.6rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 4rem;
        }
        .footer_satrs{
        display: flex;
        align-items: center;
        gap: 1.2rem;
        }
        .footer_text{
        color: var(--fist-color);
        font-family: Space_Grotesk;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        }
        .footer_ul_contre{
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
        gap: 4rem;
        }
        .wrap_footer{
          display: flex;
          flex-direction: column;
          gap: 3rem;}
        .footer_ulsettings{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.6rem;
        align-self: stretch;
        }
        .footer_ul_elements{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        }
        .footer_sos{
          display: none;
          flex-direction: row;
          gap:3rem;}
        .footer_ul_elements_style{
        color: var(--gray-600);
        font-family: Space_Grotesk;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.4rem; 
        text-decoration: none;
        }
        .mark_conyeiner{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.6rem;
        }
        .footer_end{
        display: flex;
        padding-top: 3.2rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.4rem;
        align-self: stretch;
        border-top: 0.1rem solid var(--gray-300) ;
        }
        .copyright_style{
        color: var(--gray-400);
        font-family: Space_Grotesk;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem; 
        }
        
      @media screen and (min-width: 764px) {
        .form__label {
          font-size: 1.6rem;
        }
      }
      @media screen and (min-width: 1440px){
        .footer_ulsettings{
          flex-direction: row;
          margin-left: 15rem;
        }
        .wrap_footer{
          flex-direction: row;
          justify-content: space-between;
        }
        .footer_end{
          flex-direction: row;
          justify-content: space-between;
        }
        .footer_sos{
          display: flex;
        }
      }