/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* space-grotesk-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Space_Grotesk';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/space-grotesk-v16-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* montserrat-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat'; 
    font-weight: 600;
    src: url('../fonts/montserrat-v26-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
    font-size: 62.5% ;
    --fist-color: #1A1E42;
    --second-color: #F7931A;
    --third-color: #1A1E42CC;
    --fourth-color: #F7931A1A;
    --fifth-color: #1A1E42CC;
    --sixth-color: #D0D5DD;
}
.header{
    display: flex;
    width: 0 auto;
    padding: 1.8rem 1.6rem;
    justify-content: space-between;
    align-items: center;
}
.header_burgermenu{
    display: flex;
    padding: 0.8rem;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    background: #FFF;
    border: 0;
}
.header_logo{
    color: var(--fist-color);
    font-family: Montserrat;
font-size: 3rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration: none;
}
.h22{
    font-family: Space_Grotesk;

font-size: 4.4rem;
font-style: normal;
font-weight: 600;
line-height: 5.2rem; /* 118.182% */
letter-spacing: -0.176rem;
margin: 1.2rem 0 3.2rem 0;
justify-content: center;
align-items: center;
}
.h2_2_2{
    color: #1A1E42;

text-align: center;
font-family: Space_Grotesk;
font-size: 4.4rem;
font-style: normal;
font-weight: 600;
line-height: 5.2rem; /* 118.182% */
letter-spacing: -0.176rem;
align-self: stretch;
}
.container {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(5, 1fr);
        

  }
  
  .item1 {
    background-color: red;
  }
  .item2{
    background-color: blue;
  }
  .item3{
    background-color: white;
  }
  .footerPO{
    display: flex;
width: auto;
padding: 3.2rem 1.6rem;

align-items: flex-start;
gap: 4rem;
justify-content: center;
align-self: center;
}
.footer_ulsettings{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 1.6rem;
align-self: stretch;
}
.footer_ul_elements{
    display: flex;
justify-content: center;
align-items: center;
gap: 0.4rem;
}
.footer_ul_elements_style{
    color: var(--gray-600, #475467);
font-family: Space_Grotesk;
font-size: 1.6rem;
font-style: normal;
font-weight: 600;
line-height: 2.4rem; /* 150% */
text-decoration: none;
}
.mark_conyeiner{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0.6rem;
}
.footer_end{
    display: flex;
padding-top: 3.2rem;
flex-direction: column;
align-items: flex-start;
gap: 2.4rem;
align-self: stretch;

border-top: 0.1rem solid var(--gray-300, #D0D5DD) ;
}
.copyright_style{
    color: var(--gray-400, #98A2B3);
font-family: Space_Grotesk;
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: 2.4rem; /* 150% */
}
  
.etet{
    display: flex;
    
}