/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* space-grotesk-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Space_Grotesk';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/space-grotesk-v16-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* montserrat-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat'; 
    font-weight: 600;
    src: url('../fonts/montserrat-v26-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
:root {
    font-size: 62.5% ;
    font-family: Space_Grotesk;
    --fist-color: #1A1E42;
    --second-color: #F7931A;
    --third-color: #1A1E42CC;
    --fourth-color: #F7931A1A;
    --fifth-color: #2A2D51;
    --sixth-color: #D0D5DD;
    --gray-300: #D0D5DD;
    --gray-400: #98A2B3;
    --gray-500: #667085;
    --gray-600: #475467;
    --gray-50: #F9FAFB;
    --shadow: #1018280d;
    --white: #fff;

}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
.wrap_conteiner{
max-width: 1440px;
width: 100%;
margin: auto;
padding: 16px 16px;
}
.startsection_h1 {
color: var(--fist-color);
font-size: 4.8rem;
font-style: normal;
font-weight: 600;
line-height: 5.6rem; 
letter-spacing: -0.192rem;
margin: 4rem 0 2.4rem 0;
}
.h2{
color:var(--white);
align-self: stretch;
font-size: 4.4rem;
font-style: normal;
font-weight: 600;
line-height: 5.2rem; 
letter-spacing: -0.176rem;
margin: 1.2rem 0 1.6rem 0;
}
.h22{
align-self: stretch;
font-size: 4.4rem;
font-style: normal;
font-weight: 600;
line-height: 5.2rem;
letter-spacing: -0.176rem;
margin: 1.2rem 0 3.2rem 0;
}
.h2_2{
display: flex;
font-size: 4.4rem;
font-style: normal;
font-weight: 600;
line-height: 5.2rem; 
letter-spacing: -0.176rem;
justify-content: center;
align-items: center;

}
.h2_2_2{
color: var(--fist-color);
text-align: center;
font-size: 4.4rem;
font-style: normal;
font-weight: 600;
line-height: 5.2rem; 
letter-spacing: -0.176rem;
margin: 1.5rem 0 ;
}
.hn_center{
text-align: center;
margin: 1.2rem;
}
.h3{
color: var(--white);
font-size: 2.2rem;
font-style: normal;
font-weight: 600;
line-height: 3rem; 
margin: 2.4rem 0 1.2rem 0;
}
.startsection_h1_orange{
color: var(--second-color);
font-size: 4.8rem;
font-style: normal;
font-weight: 600;
line-height: 5.6rem;
letter-spacing: -0.192rem;
}
.header{
display: flex;
width: auto;
padding: 1.8rem 1.6rem;
justify-content: space-between;
align-items: center;
}
.header_burgermenu{
display: flex;
padding: 0.8rem;
justify-content: center;
align-items: center;
gap: 0.8rem;
background-color: var(--white);
border: 0;
}
.header_logo{
color: var(--fist-color);
font-family: Montserrat;
font-size: 3rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration: none;
}
.header2_button_nav{
display: none;
align-items: center;
gap: 32px;
}
.header2_button_nav_style{
color: var(--gray-500);
font-family: Space_Grotesk;
font-size: 2rem;
font-style: normal;
font-weight: 600;
line-height: 2.4rem;
text-decoration: none;
}
.header2_button_lang{
display: none;
color: var(--gray-500);
font-family: Space_Grotesk;
font-size: 2rem;
font-style: normal;
font-weight: 600;
line-height: 2.4rem;
background: none;
border: none;
}
.header2_startnow{
display: none;
width: 140px;
padding: 10px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
border: 1px solid var(--fist-color);
background: var(--White);
text-decoration: none;  
}
.header2_startnow_text{
color: var(--fist-color);
font-family: Space_Grotesk;
font-size: 1.8rem;
font-style: normal;
font-weight: 600;
line-height: 28px;

}

.startsection1_set2{
  display: flex;
  flex-direction: column;
  
}
.grid {
  display: flex;
  flex-direction: column;
}
.orengeline{
display: block;
width: 4.8rem;
height: 0.2rem;
background-color: var(--second-color);
align-self: stretch;
margin: 6rem 0 0 0;
}
.line_centre{
display: flex;
width: 4.8rem;
height: 0.2rem;
background-color: var(--second-color);
justify-content: center;
align-items: center;
}

.ssolca{
color: var(--second-color);
font-size: 1.8rem;
font-style: normal;
font-weight: 600;
line-height: 2.8rem; 
text-decoration: none;
align-self: stretch;
margin: 1.6rem 0.8rem 4.8rem 0;
}
.textonwite{
color: var(--third-color);
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 2.6rem; 
margin: 0;
align-self: stretch;
margin: 2rem;
}
.textonwite2{
color: var(--third-color);
text-align: center;
font-family: Inter;
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 2.6rem; 
margin-bottom: 3.5rem;
}
.textonblue1{
color:var(--sixth-color);
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 2.6rem; 
margin: 1.6rem 0 4.8rem 0;
}
.textonblue2{
  color:var(--sixth-color);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem; 
  margin: 1.6rem 0 4.8rem 0;
  }
.graytext{
color: var(--gray-400);
font-size: 1.6rem;
font-style: normal;
font-weight: 500;
line-height: 2.4rem; 
margin: 4.8rem 0 1.6rem 0;
}
.anderGtext{
color: var(--gray-400);
font-size: 1.6rem;
font-style: normal;
font-weight: 500;
line-height: 2.4rem;
margin: 1.6rem 0 0 0;
}
.startnow_qize{
  display: flex;
  flex-direction: column;
}
.wrap_get{

}
.orangebutton{
border-radius: 0.4rem;
background-color: var(--second-color);
display: flex;
padding: 1rem 2.4rem;
justify-content: center;
align-items: center;
gap: 1rem;
align-self: stretch;
margin: 4.8rem 0 0 0;
color: var(--white);
font-size: 1.8rem;
font-style: normal;
font-weight: 600;
line-height: 2.8rem; 
text-decoration: none;
}
.orangebutton2{
  border-radius: 0.4rem;
  background-color: var(--second-color);
  display: flex;
  padding: 1rem 2.4rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  margin: 4.8rem 0 0 0;
  color: var(--white);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem; 
  text-decoration: none;
  }
.margin-left{
  margin-left: 55rem;
}
.about_set{
  display: flex;
  flex-direction: column;
}
.startsection_ul_1{
display: flex;
justify-content: center;
align-items: flex-start;
gap: 1.6rem;
align-self: stretch;
list-style-type: none;
flex-wrap: wrap;
margin: 0;
padding: 0;
}
.startsection_ul_2{
display: flex;
width: auto;
flex-direction: row;
align-items: flex-start;
gap: 1.2rem;
margin: 0;
padding: 0 0 6rem 0;
flex-wrap: wrap;
justify-content: center;
list-style-type: none;
}
.startsection_ul_elements{
display: flex;
flex-direction: row;
width: 17rem;
height: 4rem;
gap: 0.8rem;

}
.startsection_ul_elements_text{
color: var(--gray-400);
font-size: 1.6rem;
font-style: normal;
font-weight: 500;
line-height: 2.4rem;
margin: 0;
padding: 0;
}
.startsection_ul_imgsize{
width: 17rem;
height: 4rem;
}
.imgsize{
width: 100%;
height: 100%;
}

.textincont{
color: var(--sixth-color);
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: 2.4rem;
margin: 0;
align-self: stretch;
}
.WhyRewallet_element{
padding: 3.2rem;
border-radius: 0.8rem;
background-color: var(--fifth-color);
margin: 0 0 2.4rem 0;
width: auto;
} 

.ulsettings{
padding: 0;
margin: 0;
list-style-type: none;
}
.ulsettings_section2{
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 0;
margin: 0;
list-style-type: none;
}
.contriner{ 
display: flex;
padding: 3.2rem;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
border-radius: 0.8rem;
background-color:var(--fifth-color);
margin: 0;
}
.icon{
width: 4.4rem;
height: 4.4rem;
}
.startsection1_set{
background-color: var(--white);

}

.section2_set{
background-color: var(--fist-color);
position: relative;
overflow-x: hidden;
overflow-y: hidden;
}
.section2_set::before{
content: '';
box-shadow: 0px -2px 20px 0px rgba(255, 255, 255, 0.15) inset;
width: 800px;
height: 800px;
border-radius: 100%;
position: absolute;
right: 0rem;
bottom: 95rem;
}
.section2_set::after{
content: '';
box-shadow: 0px -2px 20px 0px rgba(255, 255, 255, 0.15) inset;
width: 800px;
height: 800px;
border-radius: 100%;
position: absolute;
left: 4rem;
top: 100rem;
}
.section3_set{
width: auto;

}
.section4_set{
background-color:var(--fist-color);
position: relative;
overflow-x: hidden;
overflow-y: hidden;
}
.section4_1_set{
  background-color:var(--fist-color);
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.section4_set::before{
  content: '';
  box-shadow: 0px -2px 20px 0px rgba(255, 255, 255, 0.15) inset;
  width: 800px;
  height: 800px;
  border-radius: 100%;
  position: absolute;
  right: 1rem;
  bottom: 65rem;
}
.section4_1_set::after{
  content: '';
  box-shadow: 0px -2px 20px 0px rgba(255, 255, 255, 0.15) inset;
  width: 800px;
  height: 800px;
  border-radius: 100%;
  position: absolute;
  left: 2rem;
  top: 100rem;
}
.section5_set{
display: flex;
width: auto;
padding: 6rem 1.6rem;
flex-direction: column;
align-items: center;

}
.section6_set{
display: flex;
padding: 6rem 1.6rem;
flex-direction: column;
justify-content: center;
align-items: center;
width: auto;
align-self: stretch;
}
.our_process_numbers{
color: var(--white);
text-align: center;
font-family: Inter;
font-size: 2rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.our_process_numbers_back{
padding: 1.2rem 1rem;
width: 4.8rem;
border-radius: 0.8rem;
background: var(--fifth-color);
margin: 2rem 0 3rem 0;
}

.Testimonials{
display: flex;
width: auto;
padding: 2.4rem;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
margin: 0;
padding: 0;
}
.Testimonials_text{
color: var(--gray-500);
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 2.6rem; 
align-self: stretch;
margin: 0;
padding: 0;
}
.Testimonials_text_A{
color: var(--fist-color);
font-size: 1.8rem;
font-style: normal;
font-weight: 600;
line-height: 2.6rem; 
margin-bottom: 3rem;
}
.Testimonials_button{
display: flex;
padding: 1rem 2.4rem;
justify-content: center;
align-items: center;
gap: 0.8rem;
align-self: stretch;
border-radius: 0.4rem;
background-color: #00B67A;
text-decoration: none;
}
.Testimonials_button_text{
color: var(--white);
font-size: 1.8rem;
font-style: normal;
font-weight: 600;
line-height: 2.8rem; 
margin: 0;
;
}
.textonGR2{
align-self: stretch;
color: var(--sixth-color);
font-family: Inter;
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: 2.4rem; 
}
.blog_text{
color: var(--third-color);
align-self: stretch;
text-align: center;
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 2.6rem; 
margin: 2rem 0;
padding: 0;
}
.blog_img_info{
width: auto;
height: auto;
background-color: lightgray 50% / cover no-repeat;
border-radius: 0.8rem;
background-color: #D9D9D9;
}
.blog_elements{
display: flex;
flex-direction: column;
gap: 2rem;
align-self: stretch;
margin: 2.4rem 0 ;
}
.blog_conteiner_info{
display: flex;
flex-direction: row;
align-items: flex-start;
gap: 2rem;
align-self: stretch;
justify-content: space-between;
}
.blog_conteiner_elements{
align-items: baseline;
}
.blog_text_style{
color: var(--third-color);
font-size: 2.2rem;
font-style: normal;
font-weight: 600;
line-height: 3rem; 
text-decoration: none;
}

.blog_ul{
padding: 0;

}
.blog_A_name{
display: flex;
align-items: center;
gap: 1.2rem;
}
.blog_A_img{
border-radius: 50%;
}
.wrap_section7{
display: flex;
width: auto;
padding: 6rem 1.6rem;
flex-direction: column;
justify-content: center;
align-items: center;
}
.li_decoretion{
list-style-type: none;
}
.section8_ulsettings{
display: flex;
flex-direction: column;
align-self: stretch;
list-style-type: none;
margin: 0;
padding: 0;
}
.section8_elements{
display: flex;
justify-content: left;
flex-direction: row;
margin: 0;
padding: 0;
}
.section8_elements_text{
color: var(--third-color);
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 2.6rem;
}

.acoordeon_ul_set{
display: flex;
justify-content: left;
flex-direction: column;
margin: 0;
padding: 0;
list-style-type: none;

}

.acoordeon_text_style{
color: var(--third-color);
font-size: 2.2rem;
font-style: normal;
font-weight: 500;
line-height: 3.2rem;
}
.acoordeon_content_style{
color: var(--third-color);
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 2.6rem;
}
.section8_qize_style{
display: flex;
padding: 3.2rem 2.4rem;
margin: 6rem auto 6rem;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 4rem;
align-self: stretch;
border-radius: 0.8rem;
background-color: var(--fist-color);
box-shadow: 0rem 1.2rem 1.6rem -0.4rem var(--shadow);
width: 35.5rem;
}
.section8_qize_buttonstyle{
display: flex;
padding: 1.6rem 0.8rem;
justify-content: center;
align-items: center;
gap: 1.4rem;
align-self: stretch;
border-radius: 0.8rem;
background-color: var(--gray-50);
}
.GetinTouch_style{
display: flex;
width: 35.5rem;
padding: 3.2rem 2.4rem;
flex-direction: column;
justify-content: left;
align-items: baseline;
align-self: stretch;
height: auto;
border-radius: 0.8rem;
background-color: var(--fist-color);
margin: 0 auto;
position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.GetinTouch_style::before{
  content: '';
  box-shadow: 0px -2px 20px 0px rgba(255, 255, 255, 0.15) inset;
  width: 800px;
  height: 800px;
  border-radius: 100%;
  position: absolute;
  right: 0rem;
  bottom: 25rem; 
}
.GetinTouch_style::after{
  content: '';
  box-shadow: 0px -2px 20px 0px rgba(255, 255, 255, 0.15) inset;
  width: 800px;
  height: 800px;
  border-radius: 100%;
  position: absolute;
  left: 5rem;
  top: 25rem;
}
.GetinTouch_section{
display: flex;
padding: 0 ;
flex-direction: column;
align-items: left;
align-self: stretch;
}
.GetinTouch_img_set{
border-radius: 10%;
}
.GetinTouch_h{
color:var(--white);
margin: 3.2rem 0 1.6rem;
font-size: 4.4rem;
font-style: normal;
font-weight: 600;
line-height: 5.2rem;
}
.GetinTouch_p{
color: var(--gray-300);
font-family: Space_Grotesk;
font-size: 2.2rem;
font-style: normal;
font-weight: 400;
line-height: 3.2rem;
margin: 0;
}
.GetinTouch_mail{
color: var(--gray-300);
font-family: Space_Grotesk;
font-size: 2.2rem;
font-style: normal;
font-weight: 600;
line-height: 3.2rem;
margin: 0;
}
.GetinTouch_mail_conteiner{
display: flex;
flex-direction: row;
gap: 1rem;
text-decoration: none;
}
.GetinTouch_info_conteiner{
display: flex;
flex-direction: column;
gap: 2.4rem;
}
.Qize_section{
display: flex;
padding: 6rem 1.6rem;
flex-direction: column;
align-items: center;
gap: 4.8rem;
align-self: stretch;
}
.Qize_section_orb{
width: 50%;
display: flex;
margin: 0 auto;
align-items: center;
}
.Qize_line{
height: 0.2rem;
background-color: black;
flex-grow: 1;
}
.Qize_button_style{
display: flex;
padding: 1.6rem 0.8rem;
justify-content: center;
align-items: center;
gap: 1.4rem;
align-self: stretch;
border-radius: 0.8rem;
background-color: var(--gray-50);
width: 31rem;
height: 5.6rem;
}
.Qize_ul{
display: flex;
flex-direction: column;
padding: 0;
margin: 0;
list-style-type: none;
gap: 1.2rem;
}
.Qize_text_style{
color: var(--fist-color);
text-align: center;
font-family: Space_Grotesk;
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: 2.4rem;
}
.footerPO{
display: flex;
width: auto;
padding: 3.2rem 1.6rem;
flex-direction: column;
align-items: flex-start;
gap: 4rem;
}
.footer_satrs{
display: flex;
align-items: center;
gap: 1.2rem;
}
.footer_text{
color: var(--fist-color);
font-family: Space_Grotesk;
font-size: 1.6rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.footer_ul_contre{
display: flex;
flex-direction: row;
align-items: center;
list-style-type: none;
gap: 4rem;
}
.footer_ulsettings{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 1.6rem;
align-self: stretch;
}
.footer_ul_elements{
display: flex;
justify-content: center;
align-items: center;
gap: 0.4rem;
}
.footer_ul_elements_style{
color: var(--gray-600);
font-family: Space_Grotesk;
font-size: 1.6rem;
font-style: normal;
font-weight: 600;
line-height: 2.4rem; 
text-decoration: none;
}
.mark_conyeiner{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0.6rem;
}
.footer_end{
display: flex;
padding-top: 3.2rem;
flex-direction: column;
align-items: flex-start;
gap: 2.4rem;
align-self: stretch;
border-top: 0.1rem solid var(--gray-300) ;
}
.copyright_style{
color: var(--gray-400);
font-family: Space_Grotesk;
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: 2.4rem; 
}


@media screen and (min-width: 770px) {
.header_logo{
font-size: 5rem;
}
.startsection_h1{
font-size: 6rem;
}
.startsection_h1_orange{
font-size: 6rem;
}
.textonwite{
font-size: 2.1rem;
}
.orangebutton{
font-size: 2.1rem;
}
.orangebutton2{
  font-size: 2.1rem;
  }
.startsection_ul_elements{
width: 20rem;
}
.startsection_ul_elements_text{
font-size: 2rem;
}
.h2{
font-size: 6rem;
}
.textonblue1{
font-size: 2.1rem;
width: 70rem;
}
.textonblue2{
  font-size: 2.1rem;
  }
.h3{
font-size: 3rem;
}
.textincont{
font-size: 1.8rem;
}
.h22{
font-size: 5.5rem;
}
.ssolca{
  font-size: 2.4rem;
}
.textonGR2{
font-size: 1.8rem;
}
.h2_2_2{
font-size: 6rem;
}
.textonwite2{
font-size: 2.2rem;
}
.Testimonials_text{
font-size: 2rem;
}
.Testimonials_text_A{
font-size: 2rem;
}
.Testimonials_button_text{
font-size: 2.1rem;
}
.orengeline{
width: 7rem;
height: 0.3rem;
}
.line_centre{
width: 7rem;
height: 0.3rem;
}
.blog_text{
font-size: 2.2rem;
}
.blog_text_style{
font-size: 3rem;
line-height: 5rem;
}
.acoordeon_text_style{
font-size: 3rem;
}
.acoordeon_content_style{
font-size: 2rem;
}
.section8_elements_text{
font-size: 2rem;
}
.section8_qize_style{
width: 42.5rem;
}
.GetinTouch_style{
width: 42.5rem;
padding: 4.2rem 5.6rem;
}
.footer_ul_elements_style{
font-size: 2rem;
}
.section2_set::before{
bottom: 90rem;
right: 25rem;
}
.section2_set::after{
left: 20rem;
top: 90rem;
}
.section4_set::before{
right: 20rem;
}
.section4_1_set::after{
left: 20rem;
}
}
@media screen and (min-width: 1440px){
.header_burgermenu{
display: none;
}
.header2_button_nav{
display: flex;
}
.header2_button_lang{
display: flex;
}
.header2_startnow{
display: flex;
}
.startsection_h1{
  width: 51rem;
}
.textonwite{
  width: 55rem;
}
.orangebutton{
  width: 30rem;
  margin-bottom: 3rem;
  margin-left: 55rem;
}
.orangebutton2{
  width: 30rem;
  margin-bottom: 3rem;
}
.imgsize{
  margin-bottom: 5rem;
}
.startsection1_set2{
flex-direction: row;
}
.ulsettings_section2{
  flex-direction: row;
  margin-top: 6rem;
}
.WhyRewallet_element{
  width: 40rem;
  height: 35rem
}
.section2_set::before{
  bottom: 20rem;
  right: 85rem;
}
.section2_set::after{
  top: 30rem;
  left: 80rem;
}
.orangebutton{
  margin-bottom: 5rem;
  margin-left: 55rem;
}
.about_set{
  flex-direction: row-reverse;
}
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 6rem;
}
.section4_set::before{
right: 85rem;
bottom: 3rem;
}
.section4_1_set::after{
  left: 95rem;
  top: 3rem;
}
.Testimonials_text{
  width: 55rem;
margin-left: 46rem;
margin-bottom: 3rem;
}
.Testimonials_text_A{
margin-left: 46rem;
}
.blog_ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
}
.startnow_qize{
  display: flex;
  flex-direction: row;
  margin-bottom: 10rem;
}
.section8_qize_style{
  width: 66.5rem;
}
.GetinTouch_style{
  width: 140rem;
  height: 35rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.wrap_get{
  margin-left: 10rem;
}
.GetinTouch_info_conteiner{
  flex-direction: row;
}
.GetinTouch_img_set{
  width: 25rem;
}
.GetinTouch_style::before{
  right: 75rem;
  bottom: 10rem;
}
.GetinTouch_style::after{
  left: 60rem;
  top: 15rem;
}
}